<!DOCTYPE html>
<html>

<head>
  <!-- Tab Title -->
  <title>News Scraper</title>
  <!-- Favicon -->
  <!--<link rel="icon" href="assets/images/newspaper_icon.png"> -->
  <!-- View Port Size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Materialize - Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Materialize - Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/style/style.css">
</head>

<body>

  <!-- Fixed Nav Bar -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-3">
        <a href="/" class="brand-logo"><i class="material-icons">loop</i>Los Angeles Daily News</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/saved">Saved Articles</a></li>
          </u>
          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <!-- For Mobile Nav Bar -->
  <ul class="side-nav darken-3" id="mobile-demo">
    <li><a href="http://www.dailynews.com/" target="_new">The Los Angeles Daily News</a></li>
    <li><a href="https://github.com/thkropp1/mongodb-scraper" target="_new">Teresa Kropp</a></li>
  </ul>


  <!-- Page Content -->
  <main>

    <!-- Site Info Container -->
    <div class="container">
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4><b>The News Scraper</b></h4></li>
        <li class="collection-item">
          <div>Click on the <i class="material-icons">loop</i> above to re-scrape data.</div>
          <li class="collection-item">
            <div>Click on the news title to go to the article link.</div>
          </li>
        </li>
      </ul>
    </div>


    <!-- Render All Articles -->
    <div class="container">
      {{{body}}}
    </div>

  </main>


  <!-- Footer -->
  <footer class="page-footer blue darken-3">
    <div class="container">
      <p><a style="color:white" href="http://www.dailynews.com/" target="_new">The Los Angeles Daily News</a></p>
      <p><a style="color:white" href="https://github.com/thkropp1/mongodb-scraper" target="_new">Teresa Kropp</a></p>
    </div>
  </footer>

  <!-- Link in jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- Materialize - Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  <!-- Basic Page JavaScript for Repsonsiveness -->
  <script type="text/javascript" src="assets/javascript/app.js"></script>

</body>

</html>
